<h1>All Post</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Tiêu Đề</th>
            <th>Ảnh</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow Comments</th>
            <th>Xem Bài</th>
            <th>Ngày</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td scope="row">{{id}}</td>
            <td>{{title}}</td>
            <td><img src="/uploads/{{file}}" alt="" height="50"></td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td><a href="/post/{{slug}}">Xem</a></td>
            <td>{{generateDate date 'MMMM Do YYYY'}}</td>
        </tr>
        {{/each}}
    </tbody>
</table>