<h1>All Post</h1>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>File</th>
            <th>Status</th>
            <th>Category</th>
            <th>Allow Comments</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        {{#each posts}}
        <tr>
            <td scope="row">{{id}}</td>
            <td>{{title}}</td>
            <td><img src="/uploads/{{file}}" alt="" height="50"></td>
            <td>{{status}}</td>
            <td>{{category.name}}</td>
            <td>{{allowComments}}</td>
            <td>{{generateDate date 'MMMM Do YYYY'}}</td>
            <td><a href="/admin/posts/edit/{{id}}" class="btn btn-info">Edit</a></td>
            <td>
                <form action="/admin/posts/{{id}}?_method=DELETE" method="POST">
                    <button type="submit" class="btn btn-danger">DELETE</button>
                </form>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>